{{define "content"}}
<h1 class="page-header">Dashboard</h1>

<h2 class="sub-header">Article List</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>(actions)</th>
        </tr>
        </thead>
        <tbody>
        {{range .Articles}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.Title}}</td>
            <td>{{.CreatedAt}}</td>
            <td>{{.UpdatedAt}}</td>
            <td>編集 | 削除</td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>

{{end}}