{{define "content"}}
<h1 class="page-header">Dashboard</h1>

<h2 class="sub-header">User List</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {{range .Users}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.Name}}</td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>

<h2 class="sub-header">User Register Form</h2>
<form method="post" action="/admin/user/list">
    <div class="form-group">
        <label for="user-form-name">Name</label>
        <input name="name" type="text" class="form-control" id="user-form-name" placeholder="some name" value="{{.Name}}">
    </div>
    <div class="form-group">
        <label for="user-form-password">Password</label>
        <input name="password" type="password" class="form-control" id="user-form-password" value="{{.Password}}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{end}}