[mysqld]
character-set-server=utf8

general_log = 0
general_log_file = /var/log/mysql/general.log

slow_query_log = 1 # slow queryログの有効化
slow_query_log_file = /var/log/mysql/slow.log # ファイルパス
long_query_time = 5 # 5秒以上処理に時間がかかったクエリを記録
log-queries-not-using-indexes # インデックスが使用されていないクエリをログに出力

[client]
default-character-set=utf8